@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500italic);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
}
#logo{
	max-width: 50%;
}
#slogan{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}
hr{
    width: 300px;
    color: #fff;
    margin:auto;
}
footer{
	font-family: 'Fira Sans', sans-serif;
}
#splash {
	background: url('css/images/cafe2.jpg') no-repeat;
	background-size: cover;
	height: 90vh;
	color: #fff;
}
