@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500italic);

body {
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	background: url('images/cafe2.jpg') no-repeat;
	background-size: cover;
	
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
.wrapper {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
#content_one {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
.intro {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

p {
	color: #fff;
}

.hero {
    text-align: center;
    margin: auto 0;
}


#logo{
	max-width: 50%;
}

#slogan{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	}
hr{
    width: 300px;
    color: #fff;
}
footer{
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
    padding-top: 300px;
	
}